<a href="https://colab.research.google.com/github/zz2585/CommonOwnerReplication/blob/master/Amihud_2002.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# The paper examines return-illiquidity relationship over time. 
# Over time, ex ante stock excess return is increasing in the expected illiquidity of the stock market 
# Illiquidity ratio: ILLIQ defined as the daily ratio of absolute stock return to dollar volume, average over xx days 
# The ratio gives the daily price impact of the order flow 
# consider verify the findings using spreads and PIN

\begin{align}
ILLILQ_{iy} = \frac{1}{D_{iy}}*\sum \limits_{t=1}^{D_{iy}} \frac{\mid{R_{iyd}}\mid}{VOLD_{ivyd}}
\end{align}

where $D_{iy}$ is the number of trading days for stock $i$ in year $y$.

In [ ]:
import pandas as pd
import numpy as np
import wrds
from appelpy.linear_model import OLS

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
!pip install appelpy

Collecting appelpy
  Downloading https://files.pythonhosted.org/packages/0a/58/ee586ae485138fadddc798aca51e30375538c080dbf814bbfb227c419ffd/appelpy-0.4.2-py3-none-any.whl
Requirement already satisfied: seaborn>=0.9 in /usr/local/lib/python3.7/dist-packages (from appelpy) (0.11.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from appelpy) (2.11.3)
Requirement already satisfied: statsmodels>=0.9 in /usr/local/lib/python3.7/dist-packages (from appelpy) (0.10.2)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from appelpy) (1.1.5)
Requirement already satisfied: patsy in /usr/local/lib/python3.7/dist-packages (from appelpy) (0.5.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from appelpy) (1.4.1)
Requirement already satisfied: matplotlib>=3 in /usr/local/lib/python3.7/dist-packages (from appelpy) (3.2.2)
Requirement already satisfied: numpy>=1.16 in /usr/local/lib/python3.7/dist-packages (from appelpy) (1.19.5)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->appelpy) (2.0.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->appelpy) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->appelpy) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy->appelpy) (1.15.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3->appelpy) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3->appelpy) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3->appelpy) (0.10.0)
Installing collected packages: appelpy
Successfully installed appelpy-0.4.2

In [ ]:
# sample period: 1963-1997 
# sample: NYSE-traded stocks (i.e., EXCHCD==1 or 31)

#connect to wrds 
conn=wrds.Connection()

Enter your WRDS username [root]:zz2585
Enter your password:··········
WRDS recommends setting up a .pgpass file.
You can find more info here:
https://www.postgresql.org/docs/9.5/static/libpq-pgpass.html.
Loading library list...
Done

In [ ]:
# get crsp monthly data
crsp_m = conn.raw_sql("""
                      select a.permno, a.permco, a.date, b.shrcd, b.exchcd,
                      a.ret, a.retx, a.shrout, a.prc, a.vol
                      from crsp.msf as a
                      left join crsp.msenames as b
                      on a.permno=b.permno
                      and b.namedt<=a.date
                      and a.date<=b.nameendt
                      where a.date between '01/01/1963' and '12/31/1997'
                      and b.exchcd =1 or b.exchcd =31
                      """, date_cols=['date']) 


# get delisting return
dlret = conn.raw_sql("""
                     select permno, dlret, dlstdt, dlstcd
                     from crsp.msedelist
                     """, date_cols=['dlstdt'])

In [ ]:
crsp.describe()

              permno         permco  ...             yr            key
count  660990.000000  660990.000000  ...  660990.000000  660990.000000
mean    41194.329541   20313.578299  ...    1981.944123   43176.273664
std     21308.362148    6630.289444  ...      10.242245   21313.968353
min     10006.000000       4.000000  ...    1926.000000   11969.000000
25%     22787.000000   20549.000000  ...    1973.000000   24763.000000
50%     39925.000000   21430.000000  ...    1983.000000   41905.000000
75%     57665.000000   23126.000000  ...    1991.000000   59658.750000
max     93201.000000   56285.000000  ...    1999.000000   95191.000000

[8 rows x 15 columns]

In [ ]:
# change variable format to int
crsp_m[['permco','permno','shrcd','exchcd']]=crsp_m[['permco','permno','shrcd','exchcd']].astype(int)

# Line up date to be end of month
crsp_m['jdate']=crsp_m['date']+pd.offsets.MonthEnd(0)

dlret['dlstcd']=dlret['dlstcd'].astype(int)
dlret['permno']=dlret['permno'].astype(int)
dlret['dlstdt']=pd.to_datetime(dlret['dlstdt'])
dlret['jdate']=dlret['dlstdt']+pd.offsets.MonthEnd(0) 

crsp = pd.merge(crsp_m, dlret, how='left',on=['permno','jdate'])

crsp['ret']=crsp['ret'].fillna(0)

In [ ]:
# adjust for delisting returns following Shumway(1997)
crsp['retadj'] = np.where(crsp.dlstcd.isna(), crsp.ret, np.nan)
crsp['retadj'] = np.where((crsp.dlstcd.notna())&(crsp.dlret.notna()), crsp.dlret, crsp['retadj'])
crsp['retadj'] = np.where((crsp.dlstcd==500) | (crsp.dlstcd==520)| (crsp.dlstcd==580)| (crsp.dlstcd==584)|((crsp.dlstcd >= 551) & (crsp.dlstcd <= 574)), -0.3, crsp['retadj'])
crsp['retadj'] = np.where(crsp['retadj'].isna(), -1, crsp['retadj'])

In [ ]:
#to be deleted 
# retadj factors in the delisting returns
crsp['retadj']=(1+crsp['ret'])*(1+crsp['dlret'])-1

# calculate market equity
crsp['me']=crsp['prc'].abs()*crsp['shrout'] 
crsp=crsp.drop(['dlret','dlstdt','prc','shrout'], axis=1)
crsp=crsp.sort_values(by=['jdate','permco','me'])

In [ ]:
# filter data based on several criteria

# drop ADRs
crsp = crsp[~((crsp.shrcd==30) | (crsp.shrcd==31))]

# drop observations where vol is null
crsp = crsp[(crsp['vol'] > 0)& (crsp['prc'] > 0)]

# calculate Amihud ILLIQ measure
crsp['ILLIQ'] = abs(crsp['ret']) / (crsp['prc'] * crsp['vol'])

# (i) The stock has return and volume data for more than 200 days during year y. Also, the stock must be listed at the end of year y. 
# zip permno and delist year in both dataset to remove delist firms 
dlret['key'] = dlret['permno'] + dlret['dlstdt'].dt.year
crsp['key'] = crsp['permno'] + crsp['date'].dt.year
crsp_1 = crsp[~crsp.key.isin(dlret.key)].reset_index().drop(['jdate','dlret','dlstdt','dlstcd','index', 'key'],axis=1)

# count CRSP daily observations
crsp_d = conn.raw_sql(f"""
                        select permno, date, prc, abs(prc*shrout) as mcap, ret from crsp.dsf
                        where date between '01/01/1963' and '12/31/1997'
                        """, date_cols = ['date'])


crsp_1['yr'] = crsp_1['date'].dt.year
obs = crsp_1.groupby(['yr', 'permno']).date.count().reset_index()


# (ii) The stock price is greater than $5 at the end of year y.
# (iii) The stock has data on market capitalization at the end of year y 􏰣 1 in the CRSP database. 
# (iv) Stock-year ILLIQ is winsorized at the 1% level

In [ ]:
df_trading_days_200 = df_counts[df_counts['counts'] > 200][['year', 'PERMNO']].reset_index(drop=True)
df_div_amihud = df_notnull.groupby(['year', 'PERMNO']).sum().reset_index()[['year', 'PERMNO', 'amihud_d', 'DIVAMT']]
df_div_amihud['counts'] = df_notnull.groupby(['year', 'PERMNO']).size().reset_index(name='counts')['counts']
df_div_amihud['sdret'] = df_notnull.groupby(['year', 'PERMNO']).std().reset_index()['RET'] * 100
df_step1 = df_trading_days_200.merge(df_div_amihud, 'left', on=['year', 'PERMNO'])